.listeditem{
    width: 14rem;
    height: 33rem;
    margin-top: 50px;
}
.Card-banners{
    width: 100%;
    height: 20rem;
}
.card{
    background-color: rgb(43, 43, 43);
}
.card-title{
    color: white;
    margin: 10px 0px;

}
.fa-star{
    color: white;
}
.fa-star:hover{
    color: gold;
}